<template name="deckAdminArea">
    <div class="row">
        <!--<div class="form-group">-->
            <!--<label for="sel1">Select list:</label>-->

        <!--</div>-->
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">Archetype: </label>
                <div class="col-sm-6">
                    <select class="combobox form-control" id="sel1">
                    <option></option>
                        {{#each archetypesOptions}}
                            <option value="{{archetype}}" {{selected}}>{{archetype}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-default getDeckPercentage">Update</button>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="inputEmail3" class="col-sm-3 control-label">Event Info HTML</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="inputEmail3" class="col-sm-3 control-label">Stream HTML</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="inputEmail3" class="col-sm-3 control-label">Formats</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<label class="checkbox-inline"><input type="checkbox" value="">Standard</label>-->
                    <!--<label class="checkbox-inline"><input type="checkbox" value="">Modern</label>-->
                    <!--<label class="checkbox-inline"><input type="checkbox" value="">Legacy</label>-->
                    <!--<label class="checkbox-inline"><input type="checkbox" value="">Vintage</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="inputEmail3" class="col-sm-3 control-label">Date/Time</label>-->
                <!--<div class="col-sm-9">-->
                    <!--<div class="input-group datetimepicker">-->
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
                        <!--<input class="set-due-date form-control" type="text" placeholder="time"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default getDeckPercentage">Update Deck Percentage</button>
    </div>
</template>