.metaTable th {
    color: #888888;
    font-size: 10px;
    font-family: arial;
    letter-spacing: 1.2px;
}

.metaTable th:not(:first-child){
    text-align: center;
}

.metaTable table tr td{
    padding: 3px 2px;
}

.metaTable table td:nth-child(1){

}

.metaEventTable th {
    color: #888888;
    font-size: 10px;
    font-family: arial;
    letter-spacing: 1.2px;
}

.metaEventTable th:not(:first-child){
    text-align: center;
}

.metaEventTable .date {
    background-color: #0081C2;
    text-align: center;
}

.metaEventTable a {
    font-family: Verdana;
    font-size: 12px;
}

.rightDiv {
    padding-left: 8px;
}

.leftDiv {
    padding-right: 9px;
}


.list ul {
    border: 1px solid #ccc;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
}

.list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}
.list li:last-child {
    border-bottom: none;
}

.list span {
    float: right;
}



.table-Left {
    position: absolute;
    width: 250px;
}

colgroup .table-col-position{
    width: 25px;
}

.table-position {
    color: #999;
    font-size: 16px;
    border-bottom: 1px solid #777777;

}

colgroup .table-col-name {
    width: auto;
}

.table-name {
    font-size: 14px;
    letter-spacing: -.5px;
    border-bottom: 1px solid blue;

}

colgroup .table-col-colors {
    width: 40px;
}

.table-colors {
    border-bottom: 1px solid darksalmon;
}

colgroup .table-col-type{
    width: 50px;
}

.table-type {
    border-bottom: 1px solid purple;

}

colgroup .table-col-change {
    width: 30px;
}

.table-change {
    border-bottom: 1px solid chocolate;
}

.tableRightDiv {
    padding-left: 250px;
}

.tableRight {

}

.neutro {
    height: 8px;
    margin-left: 3px;
    width: 8px;
    display: inline-block;
    background-color: #ccc;
    box-sizing: border-box;
}

.positionUp {
    margin-left: 0px;
}

.positionUp:after {
    color: green;
    content : "\25B2";
}

.positionDown:after {
    color: red;
    content : "\25BC";
}

.tableRightDiv tbody tr td:nth-child(odd){
    background-color: #f5f5f5;
}

.tableRightDiv tbody tr td:nth-child(even){

}

.left-table-body tr, .right-table-body tr{
    height: 56px;
    padding: 0 16px;
    font-family: open_sansregular;
}

.left-table-body tr{

}


.right-table-body tr{
    text-align: center;
}

.table-head-left, .table-head-right {

}

.table-head{
    height: 40px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-family: aaarghnormal;
    font-size: 11px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.3px;
}

.table-head th {
    padding: 0 16px;
}

.circle {
    border-collapse: collapse;
    border-left: 1px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #777777;
}

.graph {
    height: 100%;
}
.graph .bar {
    height: 16px;
    width: 7px;
    margin: 1px;
    display: inline-block;
    position: relative;
    vertical-align: baseline;

}

.title {
    margin-top: 4px;
    height: 40px;
    border: 1px solid coral;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: chartreuse;
    padding: 3px;
}


.miniTable{
    overflow: auto;
    max-height: 230px;
}
