<template name="meta">
    <div class="col-xs-12">
        {{>yield "baseaa"}}
    </div>
</template>

<template name="metaBase">
    <div class="row">
        {{#each metas}}
            {{> tileFormat format=this}}
        {{/each}}
    </div>
</template>

<template name="tileFormat">
    <div class="col-xs-12 ">
        <div class="row">
            <div class="title">
                {{format}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 miniTable">
                <table class="table metaTable">
                <thead>
                <tr>
                    <th colspan="3">DECK</th>
                    <th>%</th>
                    <th>CHANGE</th>
                </tr>
                </thead>
                <tbody>
                    {{#each meta format}}
                        <tr>
                            <td><span>{{math @index "+" 1}}</span></td>
                            <td><a id="deckLink" href="{{pathFor 'decks' format = format deckName = name}}">{{name}}</a></td>
                            <td>&#xe093;</td>
                            <td>{{percent}}%</td>
                            <td>
                                <div class="graph">
                                    {{#each bars}}<div class="bar" style="background-color: {{this}}"></div>{{/each}}
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
            <div class="col-xs-4 news">
                new
            </div>
            <div class="col-xs-4 events">
                events
            </div>
        </div>
    </div>

</template>

<template name="metaThing">
        <div class="row">
            <div class="col-xs-7" style="border-right: 2px solid rgb(221, 221, 221);">
                <div class="metaTable">
                    {{>newMetaTable_COL}}
                </div>
            </div>
            <div class="col-xs-5" >
                <div class="metaEventTable">
                    {{>eventsTable_COL}}
                </div>

            </div>
        </div>
</template>

<template name="eventsTable_COL">
    <div class="rightDiv">
        <div class="row">
            <h2>Events</h2>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-xs-6" style="background-color: #3c763d">EVENT</th>
                    <th class="col-xs-3 date">DATE</th>
                </tr>
                </thead>
                <tbody>
                {{#each event}}
                <tr>
                    <td><a class="noNameDeckID" href="{{pathFor 'event' _eventID = _id }}">MTGO Modern Daily</a></td>
                    <td class="date">{{datePretify date}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="newMetaTable_COL">
    <div class="leftDiv">
        <div class="row">
            <div class="col-xs-3" style="background-color: #b3b3b3">
                <h3>Table</h3>
            </div>
            <div class="col-xs-8" style="background-color: #00b3ee">
                    <div class="col-xs-12">
                        <label class="checkbox-inline" for="checkboxes-0">
                            <input type="checkbox" name="checkboxes" id="checkboxes-0" value="daily3_1" checked>
                            Daily 3-1
                        </label>
                        <label class="checkbox-inline" for="checkboxes-1">
                            <input type="checkbox" name="checkboxes" id="checkboxes-1" value="daily4_0" checked>
                            Daily 4-0
                        </label>
                        <label class="checkbox-inline" for="checkboxes-2">
                            <input type="checkbox" name="checkboxes" id="checkboxes-2" value="ptqTop8" checked>
                            PTQ TOP 8
                        </label>
                        <label class="checkbox-inline" for="checkboxes-3">
                            <input type="checkbox" name="checkboxes" id="checkboxes-3" value="ptqTop9_16" checked>
                            PTQ 9-16
                        </label>
                        <label class="checkbox-inline" for="checkboxes-4">
                            <input type="checkbox" name="checkboxes" id="checkboxes-4" value="ptqTop17_32" checked>
                            PTQ 17-37
                        </label>
                    </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default updateMeta" style="display: inline;">Update Meta</button>
        </div>
        <div class="row">
            <table class="table metaTable">
                <thead>
                <tr>
                    <th colspan="4">DECK</th>
                    <th>TYPE</th>
                    <th>%</th>
                    <th>$</th>
                    <th>CHANGE</th>
                </tr>
                </thead>
                <tbody>
                {{#if Template.subscriptionsReady}}
                    {{#each meta}}
                    <tr>
                        <td><span>{{math @index "+" 1}}</span></td>
                        <td><a id="deckLink" href="{{pathFor 'decks' format = format deckName = name}}">{{name}}</a></td>
                        <td>&#xe093;</td>
                        <td>
                            {{#with colors name}}
                                {{#each getManaCss this "deck"}}<span class="mana {{mana}}"></span>{{/each}}
                            {{/with}}
                        </td>
                        <td>{{type name}}</td>
                        <td>{{percent}}%</td>
                        <td>$AAAA</td>
                        <td>
                            <div class="graph">
                                {{#each bars}}<div class="bar" style="background-color: {{this}}"></div>{{/each}}
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</template>
