<template name="meta">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-1" style="border: 1px solid gold">1</div>
            <div class="col-xs-1" style="border: 1px solid gold">2</div>
            <div class="col-xs-1" style="border: 1px solid gold">3</div>
            <div class="col-xs-1" style="border: 1px solid gold">4</div>
            <div class="col-xs-1" style="border: 1px solid gold">5</div>
            <div class="col-xs-1" style="border: 1px solid gold">6</div>
            <div class="col-xs-1" style="border: 1px solid gold">7</div>
            <div class="col-xs-1" style="border: 1px solid gold">8</div>
            <div class="col-xs-1" style="border: 1px solid gold">9</div>
            <div class="col-xs-1" style="border: 1px solid gold">10</div>
            <div class="col-xs-1" style="border: 1px solid gold">11</div>
            <div class="col-xs-1" style="border: 1px solid gold">12</div>
        </div>
        <div class="row">
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">1</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">2</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">3</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">4</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">5</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">6</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">7</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">8</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">9</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">10</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">11</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">12</div>
        </div>
        <div class="row">
            <div class="col-xs-2" style="border: 1px solid gold">1</div>
            <div class="col-xs-2" style="border: 1px solid gold">2</div>
            <div class="col-xs-2" style="border: 1px solid gold">3</div>
            <div class="col-xs-2" style="border: 1px solid gold">4</div>
            <div class="col-xs-2" style="border: 1px solid gold">5</div>
            <div class="col-xs-2" style="border: 1px solid gold">6</div>
        </div>
        <div class="row">
            <div class="col-xs-7" style="border-right: 2px solid rgb(221, 221, 221);">
                <div class="metaTable">
                    {{>newMetaTable_COL}}
                </div>
            </div>
            <div class="col-xs-5" >
                <div class="metaEventTable">
                    {{>eventsTable_COL}}
                </div>

            </div>
        </div>
    </div>

</template>


<template name="eventsTable_COL">
    <div class="rightDiv">
        <div class="row">
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">1</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">2</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">3</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">4</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">5</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">6</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">7</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">8</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">9</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">10</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">11</div>
            <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">12</div>
        </div>
        <div class="row">
            <h2>Events</h2>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-xs-6" style="background-color: #3c763d">EVENT</th>
                    <th class="col-xs-3 date">DATE</th>
                </tr>
                </thead>
                <tbody>
                {{#each event}}

                <tr>
                    <td><a class="noNameDeckID" href="{{pathFor 'event' _eventID = _id }}">MTGO Modern Daily</a></td>
                    <td class="date">{{datePretify date}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="newMetaTable_COL">
    <div class="leftDiv">
        <div class="row">
            <h2>Table</h2>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="4">DECK</th>
                    <th>TYPE</th>
                    <th>%</th>
                    <th>$</th>
                    <th>CHANGE</th>
                </tr>
                </thead>
                <tbody>
                {{#if Template.subscriptionsReady}}
                    {{#each meta}}
                    <tr>
                        <td>{{math @index "+" 1}}</td>
                        <td>{{name}}</td>
                        <td>A</td>
                        <td>
                            {{#with colors name}}
                                {{#each getManaCss this}}
                                    <span class="mana {{mana}}"></span>
                                {{/each}}
                            {{/with}}
                        </td>
                        <td>{{type name}}</td>
                        <td>{{percent}}%</td>
                        <td>$1345</td>
                        <td><span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle" style="background-color: blue"></span>
                        </td>
                    </tr>
                    {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</template>
