<template name="archetypeDeckName">
    <div class="archetypeDeckName">
        <div class="archetypeInfo">
            {{#with thisarchetype}}
                <div class="firstline">
                    <h1>
                        {{name}}
                    </h1>
                    <div class="archetypeMana">
                        {{#each colors}}<div class="mana {{mana}}"></div>{{/each}}
                    </div>
                </div>
                <div class="information">

                    <div class="type">{{type}}</div>
                    <!--<div class="price">${{min}}-${{max}}</div>-->
                </div>
            {{/with}}
        </div>
        <div class="decksOptions">
            <div class="archetypedecksBar">
                <div class="sectionName">
                    <h2>Archetype Decks</h2>
                </div>
            </div>
            <div class="decksOwl">
                <div id="owl-deckOption"></div>
            </div>
        </div>
    </div>
</template>
