.deckOptions {
  background-color: white;
  padding: 10px 0px;
  #owl-deckOption{
      .deckBox {
        margin: 0px 5px;
        padding: 8px;
        border: 1px solid lightgrey;
        a {
          background-color: white;
          margin-bottom: 6px;
          .firstLine {
            overflow: hidden;
            .deckName {
              position: relative;
              display: inline-block;
              text-overflow: ellipsis;
              width: 100px;
              /* Required for text-overflow to do anything */
              white-space: nowrap;
              overflow: hidden;
              text-align: left;
            }
            .deckMana {
              text-align: right;
              display: inline-block;
            }
            .values {
              float: right;
              display: inline-block;
            }
          }

        }
      }
  }

}