<template name="tabbar">
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs nav-tabs-center">
                <li role="presentation" class="active navCenter"><a href="#">Standard</a></li>
                <li role="presentation" class="navCenter"><a href="#">Modern</a></li>
                <li role="presentation" class="navCenter"><a href="#">Legacy</a></li>
                <li role="presentation" class="navCenter"><a href="#">Vintage</a></li>
            </ul>
        </div>
    </div>
</template>