<template name="dbDecksNames">
        {{> tabular table=TabularTables.dBDecksNames class="table table-striped table-bordered table-condensed"}}
        <div>
            <table id="decksIdsPercentage" class="display" width="100%"></table>
        </div>
        <div>
            {{#if DecksData_idValue}}
                {{#autoForm schema=decksPercentageTableCardsPercentageSchema id="decksPercentageTableCardsPercentageAddNameToDeck" type="method" meteormethod="methodAddNameToDeck"}}
                    <fieldset>
                        {{> afQuickField name="DeckName" options=DeckNames_name}}
                        {{> afQuickField name="DecksData_id" type="hidden" value=DecksData_idValue}}
                        {{> afQuickField name="format" type="hidden" value=DecksData_formatValue}}
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                {{/autoForm}}
                <div class="col-xs-9">
                    <div class="row">
                        <div class="deckBlock">
                            <div class="newDeckColumn">
                                {{#each cardType}}
                                    <div class="typeHeader">{{name}} ({{quantity}})</div>
                                    {{#each cards block}}
                                        <div class="cardLine">
                                            <div class="name js-nameMouseOver">{{quantity}} {{name}}</div>
                                            <div class="cardInfo">
                                                <div class="manaValue">{{#each getManaCss name}}<div class="mana mana-{{mana}}">{{mana}}</div>{{/each}}</div>
                                            </div>
                                            <div class="cardInfo">
                                                {{prettifyPercentage cardPercentage}}%
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>%</th>
                                <th>Con.</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each percentage}}
                                <tr>
                                    <td>{{deckName}}</td>
                                    <td>{{prettifyPercentage result}}</td>
                                    <td><span class="js-confirmDeck">Con.</span></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/if}}
        </div>
</template>