.form-control.error{
  border-color:red !important;
  background-color:#FFF6F6 !important;
}

span.error{
  color:red;
}

.servermessage{
  font-size:32px;
  margin-top:20px;
}

.map {
  width: 600px;
  height: 600px;
}