<template name="event">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3 col-md-2">
                {{>event_LISTdeckwithoutname_COL}}
            </div>
            <div class="col-xs-9 col-md-10">
                {{#if selectedDeck}}
                    {{#if Template.subscriptionsReady}}
                        <div class="row">
                            <div class="col-xs-12 col-md-9">

                                <div class="row">
                                    <div class="col-sm-8 col-md-9">
                                        {{>event_deckList_COL}}
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        {{>event_sideBoard_COL}}
                                    </div>
                                </div>
                                <div class="row">

                                </div>

                            </div>
                            <div class="hidden-xs hidden-sm col-md-3">
                                <div class="row">
                                    {{>event_deckPicture_COL}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>


<template name="event_LISTdeckwithoutname_COL">
    <div class="LISTdeckwithoutname">
        {{#each deckOptions}}
            <div class="row">
                <div class="playerName {{#if isActive}}active{{/if}}">
                    <div>
                        {{#if name}}
                            <a class="noNameDeckID" href="{{pathFor 'event' _eventID = _eventID _deckID = _id }}">{{name}}</a>
                        {{else}}
                            <a class="noNameDeckID" href="{{pathFor 'event' _eventID = _eventID _deckID = _id }}">{{_id}}</a>
                        {{/if}}
                    </div>
                    <div>
                        <a class="noNameDeckName">{{player}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>

<template name="event_deckList_COL">
    <div class="newDeckColumn">
        {{#if creatureQuantity}}
            <div class="typeBlock creature">
                <span class="typeHeader">Creature ({{creatureQuantity}})</span>
                {{#each creature}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>
                {{/each}}
            </div>
        {{/if}}
        {{#if artifactQuantity}}
            <div class="typeBlock artifact">
                <span class="typeHeader">Artifact ({{artifactQuantity}})</span>
                {{#each artifact}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>

                {{/each}}
            </div>
        {{/if}}
        {{#if planeswalkerQuantity}}
            <div class="typeBlock planeswalker">
                <span class="typeHeader">planeswalker ({{planeswalkerQuantity}})</span>
                {{#each planeswalker}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>

                {{/each}}
            </div>
        {{/if}}
        {{#if enchantmentQuantity}}
            <div class="typeBlock planeswalker">
                <span class="typeHeader">Enchantment ({{enchantmentQuantity}})</span>
                {{#each enchantment}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>

                {{/each}}
            </div>
        {{/if}}
        {{#if sorceryQuantity}}
            <div class="typeBlock sorcery">
                <span class="typeHeader">Sorcery ({{sorceryQuantity}})</span>
                {{#each sorcery}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>
                {{/each}}
            </div>
        {{/if}}
        {{#if instantQuantity}}
            <div class="typeBlock planeswalker">
                <span class="typeHeader">Instant ({{instantQuantity}})</span>
                {{#each instant}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>
                {{/each}}
            </div>
        {{/if}}
        {{#if landQuantity}}
            <div class="typeBlock planeswalker">
                <span class="typeHeader">Land ({{landQuantity}})</span>
                {{#each land}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                    </span>
                {{/each}}
            </div>
        {{/if}}

    </div>
</template>

<template name="event_sideBoard_COL">
    {{#if sideboardQuantity}}
        <div class="deckBlock">
            <div class="typeBlock sideboard">
                <span class="typeHeader">Sideboard ({{sideboardQuantity}})</span>
                {{#each sideboard}}
                    <span class="cardRow">
                        <span class="quantity">{{quantity}}</span>
                        <span class="name">{{name}}</span>
                        </span>
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>

<template name="event_deckPicture_COL">
    <div class="deckPicture"></div>
</template>
