<template name="latestDecks">
    <div class="latestDecks">
        <div class="sectionHeader">
            <div class="sectionName">
                <h2>Last 2 Weeks Meta Addition</h2>
            </div>
        </div>
        <div class="tableSection">
            <div class="col-xs-6">
                <div class="row">
                    <div class="latestDecksTable js-latestDecksTable">
                        <table id="latestDecksTable" class="table table-sm" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="latestCardsMeta js-latestCardsMeta">
                        <table id="latestCardsMeta" class="table table-sm" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>