<template name="topMenu">
    <div class="topMenu">
        <nav class="navbar navbar-default navbar-static-top navbar-height">
            <div class="container">
                <div class="row">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="{{active 'main'}}"><a href="{{pathFor 'main' format = format}}">Main</a></li>
                            <li class="{{active 'deck'}}"><a href="{{pathFor 'deckFP' format = format}}">Deck</a></li>
                            <li class="{{active 'meta'}}"><a href="{{pathFor 'metaFP' format = format}}">Meta</a></li>
                            <li class="{{active 'event'}}"><a href="{{pathFor 'eventFP' format = format}}">Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>