<template name="decks">
    <div class="col-xs-12">
        <div class="row">
            {{>exampleDeck_COL}}
        </div>
        <div class="row" style="border-top: 2px solid black">
            {{>playList_ROW}}
        </div>
        <div class="row" style="border-top: 2px solid black">
            {{>cardsPercentage_ROW}}
        </div>
    </div>
</template>



<template name="playList_ROW">
    <div class="playlist">
        <div class="col-xs-12">
            <div class="row">
                <input class="cardName"/>
                <button type="submit" class="btn btn-default addAYoutubeVideo">add a Youtube Video or PlayList</button>
            </div>

            <div class="row">
                {{#each playlist}}
                    <div class="col-xs-3">
                        <div class="thumbnail">
                            <img src="
                                {{#with image _cfsImagesID}}
                                    {{this.url}}
                                {{/with}}
                            " alt class="playListThumbnail" />
                            <div class="caption">
                                <div>
                                    {{title}}
                                </div>
                                <div>
                                    by {{channel}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="exampleDeck_COL">
    <div class="col-xs-12">
        <div class="row">
            <button type="submit" class="btn btn-default getDaily">Daily</button>
            <button type="submit" class="btn btn-default getSCG">SCG Open</button>
            <button type="submit" class="btn btn-default getPTQ">PTQ</button>
        </div>
        <div class="row">
            <div class="newDeckColumn bottom-separator">
                <div class="row no-gutters">
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">1</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">2</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">3</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">4</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">5</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">6</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">7</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">8</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">9</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">10</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">11</div>
                    <div class="col-xs-1" style="border: 1px solid gold; padding: 0px">12</div>
                </div>
                {{#each cardType}}
                    <div class="row no-gutters typeHeader">{{name}} ({{quantity}})</div>
                        {{#each cards options}}
                            <div class="row no-gutters">
                                <div class="name col-xs-7">{{quantity}} {{name}}</div>
                                <div class="col-xs-3">
                                    {{#each getManaCss name}}
                                        <div class="mana {{mana}}"></div>
                                    {{/each}}
                                </div>
                                <div class="col-xs-2">
                                    $8.74
                                </div>
                            </div>
                        {{/each}}
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="verticalSideboard top-separator">
                {{#if sideboardQuantity}}
                    <div class="deckBlock">
                        <div class="col-xs-12">
                            <div class="row">
                                <span class="typeHeader">Sideboard ({{sideboardQuantity}})</span>
                            </div>
                        <div class="newDeckColumn">
                            {{#each sideboard}}
                                <div class="cardRow">
                                    <span class="quantity">{{quantity}}</span>
                                    <span class="name">{{name}}</span>
                                </div>
                            {{/each}}
                        </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="cardsPercentage_ROW">
    <div class="col-xs-7">
        <button type="submit" class="btn btn-default getDeckPercentage">getDeckPercentage</button>
        <h2>Basic Table</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
        <table class="table">
            <thead>
            <tr>
                <th class="col-xs-4">Name</th>
                {{#each weekDates}}
                    <th class="col-xs-1">{{this}}</th>
                {{/each}}
            </tr>
            </thead>
            <tbody>
            {{#each cards}}
                <tr>
                    <td>{{cardName}}</td>
                    {{#each cardWeek cardName}}
                        <td style="background-color: {{color}}">{{value}}</td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>