

<template name="nextStreamEventBox">
    <div class="border-divider">
        <div class="miniTable rightBottomBorder">
            <ul class="list-group">
                <li class="list-group-item">nextStreamEvent</li>
                <li class="list-group-item">nextStreamEvent</li>
            </ul>
        </div>
    </div>
</template>

<template name="newPlayLists">
    <div class="border-divider">
        <div class="miniTable rightBottomBorder">
            <ul class="list-group">
                {{#each playlists}}
                    <li class="list-group-item">{{_deckName}} : {{title}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="newArticles">
    <div class="border-divider">
        <div class="miniTable rightBottomBorder">
            <ul class="list-group">
                <li class="list-group-item">Article</li>
                <li class="list-group-item">Article</li>
            </ul>
        </div>
    </div>
</template>

<template name="newPrimesAndUpdates">
    <div class="border-divider">
        <div class="miniTable rightBottomBorder">
            <ul class="list-group">
                <li class="list-group-item">Prime</li>
                <li class="list-group-item">Prime</li>
            </ul>
        </div>
    </div>
</template>

<template name="decksFormatChanges">
    <div class="metaMainSectionTitle">
        <a id="debugLink" href="{{pathFor 'selectADeck' format = format}}">{{format}}</a>
    </div>
</template>
