<template name="eventsTableHeader">
    <div class="eventsTableHeader">
        <div class="tableHeader">
            <ul class="list-inline">
                <li class="sectionName">EVENTS</li>
                <li class="options">ALL</li>
                <li class="options">PTQ</li>
                <li class="options">DAILY</li>
            </ul>
            <div class="buttons">
                <button type="button" class="btn btn-default btn-xs previous">Prev</button>
                <button type="button" class="btn btn-default btn-xs next">Next</button>
            </div>
        </div>
    </div>
</template>



