<template name="newPlayLists">
    <div class="newPlayListsBox">
        <div class="wrap">
            <div class="heading">
                Lastest Playlist
            </div>
            <ul class="list-group">
                {{#each playlists}}
                    <li class="list-group-item">
                        <a href="">
                            <img src="{{#with image _cfsImagesID}} {{this.url}}{{/with}}" alt class="playListThumbnail" />
                            <div class="information">
                                {{_deckName}} : {{title}}
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>