.list-group-item{
    height: 50px;
}

.border-divider:first-child {
    border-right: 4px solid #f4f4f2;
    padding: 0;
}

.border-divider:not(:first-child):not(:last-child){
    border-right: 4px solid #f4f4f2;
    border-left: 4px solid #f4f4f2;
    padding: 0;

}

.border-divider:last-child {
    border-left: 4px solid #f4f4f2;
    padding: 0;
}

.rightBottomBorder {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #dfdfdd;
}