.border-divider:first-child {
    border-right: 4px solid #f4f4f2;
    padding: 0;
}

.border-divider:not(:first-child):not(:last-child){
    border-right: 4px solid #f4f4f2;
    border-left: 4px solid #f4f4f2;
    padding: 0;

}

.border-divider:last-child {
    border-left: 4px solid #f4f4f2;
    padding: 0;
}

.rightBottomBorder {

}