<template name="selectedEventDeck">
    <div class="selectedEventDeck">
        <table>
            <tbody>
              {{#each cardType}}
                  {{#with cardBlock this}}
                    <tr>
                      <td  colspan="4" class="blockName">{{..}} ({{quantity}})</td>
                    </tr>
                    {{#each cards}}
                        <tr>
                            <td class="cardQuantity">{{quantity}}</td>
                            <td class="cardName">{{name}}</td>
                            <td class="cardMana">{{#each getManaCss name ""}}<div class="mana {{mana}}"></div>{{/each}}</td>
                            <td class="cardPrice">8.74</td>
                        </tr>
                    {{/each}}
                  {{/with}}
              {{/each}}
            </tbody>
        </table>
    </div>
</template>