<template name="ApplicationLayout">
    <div class="header">
        {{>topMenu}}
        {{>typeMenu}}
    </div>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <div class="container content">
        {{>yield}}
        {{>modals}}
    </div>
</template>

<template name="audit">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {{>auditEventsTable}}
            </div>
        </div>
    </div>
</template>

<template name="modals">
    {{>pastEventsVodModal}}
    {{>futuroEventsModal}}
    {{>pastEventsYoutubePlaylistModal}}
    {{>loginModal}}
</template>

<template name="metaFP">
    <div class="row">
        {{>metaAllHeader}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{#each metas}}
                <div class="row">
                    {{> metaFormatHeader format=this}}
                </div>
                <div class="row boxesSections">
                    <div class="col-xs-4">
                        <div class="row">
                            {{>deckMetaBox this}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            {{>cardMetaBox this}}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            {{>eventMetaBox this}}
                        </div>
                    </div>
                    <!--<div class="col-xs-3">-->
                        <!--<div class="row">-->
                            <!--{{>lastestMetaBox this}}-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="deckFP">
    {{#each metas}}
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{>decksFormatChanges format = this}}
                </div>
                <div class="row">
                   <div class="col-xs-4">
                        {{>newPlayLists}}
                    </div>
                    <div class="col-xs-4">
                        {{>newArticles}}
                    </div>
                    <div class="col-xs-4">
                        {{>newPrimesAndUpdates}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</template>

<template name="selectADeck">
    <div class="row">
        <div class="col-xs-2">
            <div class="row">
                {{>narrowSearch}}
            </div>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        {{#if deckOrArchetype}}
                            {{>deckList}}
                        {{else}}
                            {{>archetypesList}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="deckSelected">
    <div class="deckSelected">
        <div class="row">
            {{>archetypeDeckName}}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{>archetypedecksBar}}
                </div>
                <div class="row">
                    {{>deckOptions}}
                </div>
            </div>
        </div>
        {{#if isSelected}}
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{>lastestDeckExamplebar}}
                </div>
                <div class="row">
                    {{>exampleDeckHeader}}
                </div>
                <div class="row">
                    {{>exampleDeck_COL}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{>eventBar}}
                </div>
                <div class="row tnails">
                    <div class="col-xs-6">
                        <div class="row">
                            {{>eventSmallTable}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            {{>eventPtqTable}}
                        </div>
                    </div>
                    <!--<div class="col-xs-4">-->
                        <!--<div class="row">-->
                            <!--{{>eventOthersTable}}-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{>playlistBar}}
                </div>
                <div class="row">
                    {{>deckPlayList}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {{>deckcardchangesBar}}
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            {{>cardsPercentageMain}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            {{>cardsPercentageSideboard}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>



<template name="selectedMeta">
    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                {{>metaTableOptions}}
            </div>
            <div class="row">
                {{>newMetaTable}}
            </div>
        </div>
        <div class="col-xs-4" >
            <div class="row">
                {{>eventsTableHeader}}
            </div>
            <div class="row">
                {{>eventsTable}}
            </div>
            <div class="row">
                {{>cardTableOptions}}
            </div>
            <div class="row">
                {{>cardTable}}
            </div>
        </div>
    </div>
</template>

<template name="searchedDeck">
    <div class="col-xs-12">
        <div class="row">
            <button type="submit" class="btn btn-default getEvents" style="display: inline;">getEvents</button>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-2">
                {{>LISTdeckwithoutname_COL}}
            </div>
            <div class="col-xs-9 col-md-10">
                {{#if selectedDeck}}
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{>deckList_COL}}
                                </div>
                            </div>
                            <div class="row">
                                {{>deckPercentageOptions_COL}}
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-3">
                            <div class="row">
                                {{>deckPicture_COL }}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>


<template name="events">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12" id="pastEvents">
                    <div class="row">
                        {{>pastStreamedEventsHeader}}
                    </div>
                    <div class="row">
                        {{>pastStreamedEventsTable}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12" id="#futuroEvents">
                    <div class="row">
                        {{>futureEventsHeader}}
                    </div>
                    <div class="row">
                        {{>futureEventsTable}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12" id="pastEvents">
                    <div class="row">
                        {{>MTGOEventsHeader}}
                    </div>
                    <div class="row">
                        {{>MTGOEventsTable}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12" id="#futuroEvents">
                    <div class="row">
                        {{>othersEventsHeader}}
                    </div>
                    <div class="row">
                        {{>othersEventsTable}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="selectedEvent">
    <div id="eventInfoBar" class="row">
        {{>eventInfoBar}}
    </div>
    <div id="selectedEvents" class="row">
        <div class="col-xs-3">
            <div class="row">
                {{>selectedEventBar}}
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                {{>selectedEventDeck}}
            </div>
        </div>
    </div>
</template>