.container {
  border: 1px solid green;
}

.areaBar {
  height: 32px;
  border-top-width: 1px;
  border-top-style: solid;

  ul.list-inline{
    padding-top: 1px;
    font-family: "open sans";
    li {
      .sectionName {
        font-size: 20px;
      }

      .optionName {
        font-size: 13px;
        color: #666;
      }
    }
  }
}


.boxesSections {
  margin-bottom: 10px;
}


#eventInfoBar {
  background-color: white;
  margin-bottom: 10px;
}

#selectedEvents {
  //background-color: white;
}

#pastEvents {
  width: 98%;
  background-color: white;
  float: left;
}
