<template name="ApplicationLayout">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6373196080512263",
            enable_page_level_ads: true
        });
    </script>
    <div class="container">
        {{#if subscriptionsReady}}
            <div class="header">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPBK94PkYjGs7ooqxLGy1gjkJq_tCfeJk&libraries=geometry,places&callback=initAutocomplete" async defer></script>
                <div class="row">
                    <div>{{> React component=TopMenuContainer}}</div>
                    <div>{{>typeMenu}}</div>
                </div>
            </div>
            <div class="body" style="min-height: 700px">
                <div class="row">
                    {{> Template.dynamic template=main}}
                    {{>modals}}
                </div>

            </div>
            <div class="footer" style="background-color: white">
                <img src="/img/comodo_secure_seal_76x26_transp.png">This site is beta development. Magic: the Gathering and its respective properties are copyright of Wizards of the Coast. Crowdmtg have no Affiliation with Wizards of the Coast and no Affiliation with Any Local Game Store.
            </div>
        {{/if}}
    </div>
</template>

<template name="main">
    {{>sevenDayCalendar}}
    <!--<div class="row">-->
        <!--{{>latestAddedPlaylist}}-->
    <!--</div>-->
    <div>{{> React component=LatestDecks}}</div>
</template>

<template name="modals">
    {{>pastEventsVodModal}}
    {{>futuroEventsModal}}
    {{>pastEventsYoutubePlaylistModal}}
    {{>loginModal}}
</template>

<template name="metaFP">
    <h1>Select a Format</h1>
</template>

<template name="deckFP">
    <h1>Select a Format</h1>
</template>

<template name="deckSelected">
    <div class="row">
        {{>archetypeDeckName}}
    </div>
    {{#if isSelected}}
        <div class="row">
            {{>exampleDeck_COL}}
         </div>
        <div class="row">
            <div class="col-xs-12">
                {{>deckPlayList}}
            </div>
        </div>
    {{/if}}
</template>

<template name="selectedMeta">
    <div>{{> React component=MetaContainer}}</div>
</template>

<template name="eventsFP">
    <h1>Select a Format</h1>
</template>

<template name="events">
    <div>{{> React component=EventsTableComponent}}</div>
    <div>{{> React component=BigEventsCalendarContainer}}</div>
</template>


<template name="decks">
    <div>{{> React component=MetaDeckList}}</div>
</template>

<template name="lgs">
    <div>{{> React component=LGS}}</div>
</template>

<template name="addEvent">
    <div>{{> React component=AddEvent}}</div>
</template>

<template name="adminEvent">
    <div>{{> React component=AdminEvent}}</div>
</template>

<template name="admin">
    <div>{{> React component=CustomAdmin}}</div>
</template>

<template name="User">
    <div>{{> React component=User}}</div>
</template>

<template name="CustomEventsAdmin">
    <div>{{> React component=CustomEventsAdmin}}</div>
</template>

<template name="selectedEvent">
    <div>{{> React component=selectedEvent}}</div>
</template>

<template name="ArchetypeDeckInformation">
    <div>{{> React component=ArchetypeDeckInformation}}</div>
</template>