//.EventsTable {
  .MTGOEventsTable {
    width: 97%;
    float: left;
    .sectionHeader {
      .sectionName {

      }
    }

    .sectionTable {
      background-color: white;
      .tableHeight {
        height : 300px;
      }
      table {
        margin-bottom: 0px;
        thead{
          tr {
            th{
              padding: 3px;
              font-size: 10px;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            text-align: center;
            td {
              padding: 4px;
              &.date {
                //background-color: #3c763d;
                .monthDay {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .othersEventsTable {
    width: 97%;
    float: right;
    .sectionHeader {
      .sectionName {

      }
    }

    .sectionTable {
      background-color: white;
      table {
        height: 366px;
        margin-bottom: 0px;
        thead{
          tr {
            th{
              padding: 3px;
              font-size: 10px;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            text-align: center;
            td {
              padding: 4px;

              //&.name {
              //  background-color: #7a43b6;
              //}
              //
              //&.format {
              //  background-color: #008198;
              //}
              //
              //&.players {
              //  background-color: #08893e;
              //}

              &.date {
                //background-color: #3c763d;
                .monthDay {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
//
//}

