<template name="EventsTables">
    <div class="EventsTable">
        <div class="col-xs-6">
            <div class="row">
                <div class="MTGOEventsTable">
                    <div class="sectionHeader">
                        <div class="sectionName">
                            <h2>Small Events</h2>
                        </div>
                    </div>
                    <div class="sectionTable">
                        {{> tabular table=TabularTables.eventsSmall selector=eventsSmallSelector class="table table-sm"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="MTGOEventsTable">
                    <div class="sectionHeader">
                        <div class="sectionName">
                            <h2>Others Events</h2>
                        </div>
                    </div>
                    <div class="sectionTable">
                        {{> tabular table=TabularTables.eventsBig selector=eventsBigSelector class="table table-sm"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
