.selectedEventBar {


  .table {
    thead {
      display: none;
    }

    tbody {
      tr {
        &.player {

        }

        &:first-child td{
        border-top: none;
      }

        &.activated {
          background-color: #00b3ee;
        }
        td {
          padding: 5px;
          .firstLine {
            .position {
              float: left;
              width: 25px;
              text-align: center;
            }
            .eventBarDeckName {

            }
          }
          .secondLine {

          }

        }
      }
    }
  }
}