.selectedEventBar {
  height: 400px;
  position: relative;
  background-color: white;

  .table {

    thead {
      display: none;
    }

    tbody {
      tr {
        max-height: 40px;
        &.player {

        }

        &:first-child td{
        border-top: none;
      }

        &.activated {
          background-color: lightgrey;
        }
        td {
          padding: 2px;
          .firstLine {
            .position {
              float: left;
              width: 25px;
              text-align: center;
            }
            .eventBarDeckName {

            }
          }
          .secondLine {

          }

        }
      }
    }
  }

  .tableInfo {
    position: absolute;
    bottom: 0;

    .dtInfo {
      font-size: 12px;
    }

    .dtPaginate {

      .dataTables_paginate {
        text-align: right;
        ul {
          li{
            a{
              font-size: 12px;
              border: none;
              padding: 3px 5px;
            }
          }
        }
      }

    }

  }

}