<template name="selectedEventBar">
    <div class="selectedEventBar">
        <table  id="eventDeckPlayers" class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                </tr>
            </thead>
            <tbody>
            {{#each playerList}}
                <tr class="player {{#if activated}}activated{{/if}}">
                    <td>
                        <div class="firstLine">
                          <div class="eventBarDeckName">
                              <a class="noNameDeckID" href="{{pathFor 'selectedEvent' _deckID = _id }}">({{pos}}) {{name}} </a>
                          </div>
                        </div>
                        <div class="secondLine">
                            <div>{{player}}</div>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>