.borbor {
    height: 40px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #dfdfdd;
}

.ui-slider-horizontal {
    width: 88%;
    margin: auto;

}

#amount {
    width: 100%;
}

.extraSpan {
    padding-left: 20px;
    padding-right: 20px;
}

.deckNameBox {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#minAmount, #maxAmount {
    display: inline;
    border: 0;
    box-sizing: border-box;
}


