<template name="deckPlayList">
<div class="playListRow">
    <div id="owl-example" class="multiple-items">
        {{#if playlist}}
            {{#each playlist}}
                <div class="playListItem">
                    <a href="{{link}}">
                        <img src="
                                {{#with image _cfsImagesID}}
                            {{this.url}}
                        {{/with}}
                            " alt class="playListThumbnail" />
                        <div class="caption">
                            <div class="title">
                                {{title}}
                            </div>
                            <div class="channel">
                                by {{channel}}
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
        {{else}}
            <div class="playListItem">
                No playlist
            </div>
        {{/if}}
    </div>
</div>
</template>