<template name="deckPlayList">
<div class="playListRow">


    <div id="owl-example" class="multiple-items">
        {{#if playlist}}
            {{#each playlist}}
                <div class="playListItem">
                    <a href="{{link}}">
                        <img src="
                                {{#with image _cfsImagesID}}
                            {{this.url}}
                        {{/with}}
                            " alt class="playListThumbnail" />
                        <div class="caption">
                            <div class="title">
                                {{title}}
                            </div>
                            <div class="channel">
                                by {{channel}}
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
        {{else}}
            <div class="playListItem">
                playListItem
            </div>
        {{/if}}
    </div>
    <div class="customNavigation">
        <!--<button type="button" class="btn btn-primary btn-sm prev">-->
            <!--Prev-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary btn-sm next">-->
            <!--Next-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#myModal">-->
            <!--Add a Playlist-->
        <!--</button>-->
    </div>
</div>
</template>