<template name="deckPhotoTemplate">
    <div class="deckPhoto-backGround">
        <!--<div class="deckPhotoTemplateBackground" style="background-image: url({{convertToTemplate colors}});">-->
            <!--<div class="deckPhotoTemplate-header" >{{name}}</div>-->
            <!--<div class="deckPhotoTemplate-picture" style="background-image: url({{convertToLink mainPicture}});"></div>-->
            <!--<div class="deckPhotoTemplate-middleField">-->
                <!--<div class="deckPhotoTemplate-middleField-left">-->
                    <!--{{type}}-->
                <!--</div>-->
                <!--<div class="deckPhotoTemplate-middleField-right"></div>-->
            <!--</div>-->
            <!--<div class="deckPhotoTemplate-info">-->
                <!--<div class="deckPhotoTemplate-meta">-->
                <!--Meta :-->
                <!--{{percentage}}%-->
                <!--</div>-->
                <!--<div class="deckPhotoTemplate-Price">$695</div>-->
                <!--<div class="deckPhotoTemplate-keywords"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>


