<template name="archetypesList">
    <div class="archetypes">
        <div class="col-xs-12">
            <div class="row">
                {{#each archetypesName}}
                    <div class="col-xs-3 archetypeBox" data-colors="{{colors}}" data-type="{{type}}" data-min="{{min}}"  data-max="{{max}}">
                        <a class="thumbnail" href="{{pathFor 'deckSelected' format = format archetype = archetypeLinkFix}}">
                            <div class="firstLine">
                                <div class="archetypeName">
                                    {{archetype}}
                                </div>
                                <div class="archetypeMana">
                                    {{#each getManaCss colors "deck"}}<div class="mana {{mana}}"></div>{{/each}}
                                </div>
                            </div>
                            <div class="secondLine">
                                <div class="type">
                                    {{type}}
                                </div>
                                <div class="values">
                                    ${{min}}-{{max}}
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
