<template name="colorBarOriginal">
    <div class="col-xs-12">

        <div class="row colorBarOriginal" style="background-color: {{siteColor}}; border-bottom-color: {{siteColorBorder}}">
            <div class="col-xs-3 menu_COL">
                {{>menu_COL}}
            </div>
            <div class="col-xs-6 logo_COL">
                {{>logo_COL}}
            </div>
            <div class="col-xs-3 search_COL">
                {{>search_COL}}
            </div>
        </div>
    </div>

</template>

<template name="menu_COL">
    <div  id="danger" class="menu-area">
            <div class="hamburger">
                <b></b>
                <b></b>
                <b></b>
            </div>
            <span class="menu-label">MENU</span>
    </div>
</template>

<template name="logo_COL">
    <div class="logo-area">
        <a href="#">
            {{siteName}}
        </a>
    </div>
</template>

<template name="search_COL">
        <div class="rightMenu">
            <div class="visible-xs">XS</div>
            <div class="visible-sm">SM</div>
            <div class="visible-md">MD</div>
            <div class="visible-lg">LG</div>
        </div>
</template>

<template name="topMenu">
    <div class="headerVisible">
        <nav class="navbar navbar-default nav-fixed-top" >
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
                  <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                          <li><a id="mainLink" href="{{pathFor 'main'}}">meta</a></li>
                          <li><a id="deckLink" href="{{pathFor 'decks' _eventID = "kfalskdfsldf" _deckID = "L38dKFFtxzGX6K9FZ"}}">Deck</a></li>
                          <li><a id="metaLink" href="{{pathFor 'meta' }}">META</a></li>
                          <li><a id="deckCardNameDeck" href="{{pathFor 'IRONdeckNaming' options = "deckFormList"}}">Deck Naming</a></li>
                          <li><a id="deckCardNameDeck" href="{{pathFor 'event'}}">Event</a></li>
                      </ul>
                  </div>
          </nav>
    </div>
</template>

<template name="topMenuStatic">

    <nav class="navbar navbar-default nav-fixed-top" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a id="mainLink" href="{{pathFor 'main'}}">meta</a></li>
                <li><a id="deckLink" href="{{pathFor 'decks' _eventID = "kfalskdfsldf" _deckID = "L38dKFFtxzGX6K9FZ"}}">Deck</a></li>
                <li><a id="metaLink" href="{{pathFor 'meta' }}">META</a></li>
                <li><a id="deckCardNameDeck" href="{{pathFor 'IRONdeckNaming' options = "deckFormList"}}">primes</a></li>
            </ul>
        </div>
    </nav>

</template>


<template name="megaMenu">
    <div id="pop1" class="popbox">
        {{>yield "popUpMenu"}}
    </div>
</template>


<template name="testMenu">
    <style type="text/css">
        .is-active > a, .is-hovered > a {
            border-left: 3px solid {{siteColor}} !important;
            background-color: #f5f5f5 !important;
        }
    </style>
        <div class="superMenu">
            <div class="left">
                <ul class="one">
                    <li class="level0 oneRow">
                        <a><span>Principios Editorais</span></a>
                    </li>
                    <li class="level0 oneRow"><a><span>grupo globo</span></a></li>
                    <li class="level0 oneRow parent">
                        <a><span>futebol</span></a>
                        <ul class="two">
                            <li class="level1 twoRow parent">
                                <a class="">C1</a>
                                <ul class="three">
                                    <li class="threeRow"><a>C12</a></li>
                                    <li class="threeRow"><a>C22</a></li>
                                    <li class="threeRow"><a>C32</a></li>
                                    <li class="threeRow"><a>C42</a></li>
                                    <li class="threeRow"><a>C52</a></li>
                                </ul>
                            </li>
                            <li class="level1 twoRow"><a>C2</a></li>
                            <li class="level1 twoRow"><a>C3</a></li>
                            <li class="level1 twoRow"><a>C4</a></li>
                            <li class="level1 twoRow"><a>C5</a></li>
                        </ul>
                    </li>
                    <li class="level0 oneRow parent">
                        <a href="#">
                            <span>cartola fc</span>
                        </a>
                        <ul class="two">
                            <li class="level1 twoRow"><a><span>D1</span></a></li>
                            <li class="level1 twoRow"><a><span>D2</span></a></li>
                            <li class="level1 twoRow"><a><span>D3</span></a></li>
                            <li class="level1 twoRow"><a><span>D4</span></a></li>
                            <li class="level1 twoRow parent">
                                <a>D1</a>
                                <ul class="three">
                                    <li class="threeRow"><a><span>D1</span></a></li>
                                    <li class="threeRow"><a><span>D1</span></a></li>
                                    <li class="threeRow"><a><span>D1</span></a></li>
                                    <li class="threeRow"><a><span>D1</span></a></li>
                                    <li class="threeRow"><a><span>D1</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="level0 oneRow"> <a><span>mma</span></a></li>
                    <li class="level0 oneRow"> <a><span>f1</span></a></li>
                    <li class="level0 oneRow"> <a><span>eu atleta</span></a></li>
                </ul>

            </div>
            <div class="right">
                AAAafffffffffffffffff
            </div>
        </div>
</template>

