.navbar{
    margin-bottom: 0px;
}

.navbar-nav  li {
    float: none;
    display: inline-block;
}

.nav-tabs-center {
    display: table;
    margin:0 auto;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 20px;
    height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-height {
    min-height: 32px;
    height: 32px;
    border: 0;
}

.nav.nav-tabs ul li :hover {
    background-color: #0092ef;
}