<template name="topMenu">
    <nav class="navbar navbar-default navbar-static-top navbar-height">
        <div class="container">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{{pathFor 'main'}}">Main</a></li>
                  <li><a href="{{pathFor 'deckFP'}}">Deck</a></li>
                  <li><a href="{{pathFor 'metaFP' }}">META</a></li>
                  <li><a href="{{pathFor 'eventFP' }}">Events</a></li>
                  <li><a href="{{pathFor 'debug' }}">debug</a></li>
              </ul>
            </div>
        </div>
      </nav>
</template>